@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,600;1,300&display=swap');

h1{
   font-size: 40;
   font-family: 'Work Sans', sans-serif;
   font-weight: 600;
}
h2{
    font-size: 30;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}