@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,600;1,300&display=swap');

html{
    --accent-color:#000033; 
}

h1{
   font-size: 40;
   font-family: 'Work Sans', sans-serif;
   font-weight: 600;
   color: #660033;
   text-transform: uppercase;
}
h2{
    font-size: 30;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #000066;
    text-transform: uppercase;
}
p{
    font-size: 12;
    font-weight: 300; 
    color: var(--accent-color)
    font-family: 'Times New Roman', Times, serif;

}